@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6{
    font-family: 'Open Sans', sans-serif;
}

p{
    font-family: 'Roboto', sans-serif;
}

a{
    text-decoration: none;
}




/*Header Section CSS*/
header{
   background: #0A3A79;
}
.header-section{}

.bg-light {
    background-color: #FAFAFA!important;
}
.logo a img{
    width: 230px;
}
.navbar-light .navbar-nav .nav-link{
    color: rgb(33 31 31 / 66%);
    padding: 5px 20px;
    font-weight: 700;
}
.navbar-light .navbar-nav .nav-link:focus, 
.navbar-light .navbar-nav .nav-link:hover{
    color: #3bb44ade;
    border-radius: 8px;
    transition-duration: 0.3s;
}


.banner-img{
    padding: 30px;
    padding-top: 70px;
}
.banner-img img{
    height: 411px
}
.banner-contend{
    padding: 64px 0;
    margin-left: 40px;
}
.banner-contend h1{
    color: #fff;
    font-size: 60px;
}
.banner-contend h2{
    color: #fff;
    font-size: 47px;
    padding-top: 10px;
    padding-bottom: 10px;
}
.contend-ul{}
.contend-ul ul{
    color: #fff;
}
.contend-ul ul li{}
.contend-ul ul li p{
    font-size: 16px;
    line-height: 34px;
    margin: 0;
}
.btn-secondary {
    color: #fff;
    background-color: #FF764B;
    border-color: #FF764B;
    padding: 10px 40px;
    margin-left: 30px;
}
.btn-secondary:hover {
    color: #fff;
    background-color: #FF764B;
    border-color: #FF764B;
}



/* Fast Contend Section CSS */
.fast-section{
    background: #FAFAFA;
    padding: 50px 0;
}
.fast-contend{
    padding: 0 31px;
}
.fast-contend h1{
    font-size: 42px;
    color: #3BB44A;
}
.fast-contend p{
    font-size: 21px;
    letter-spacing: 1px;
    font-weight: 400;
    margin: 15px 0 20px;
}
.btn-outline-primary {
    color: #fff;
    border-color: #3BB44A;
    background: #3BB44A;
    padding: 10px 40px;
    letter-spacing: 2px;
}
.btn-outline-primary:hover {
    color: #fff;
    background-color: #3BB44A;
    border-color: #3BB44A;
}

/*Product Section CSS*/
.product-section{
    padding: 50px 0;
}
.product-section h2{
    text-align: center;
    padding-bottom: 20px;
    font-size: 39px;
    letter-spacing: 0.5px;
}


.product-img{
    box-sizing: border-box;
    border: 1px solid #000;
    padding: 40px 20px;
    margin-bottom: 20px;
}
.product-img img{
    width: 274px;
}
.product-contend{
    padding: 22px 60px;
}
.product-contend p{
    font-size: 18px;
    letter-spacing: 1px;
}


/*Product page css*/
.product-page{
    padding: 70px 0;
    background: #F2F2F2
}
.product-page-img{
    text-align: center
}
.product-page-img img{
    height: 400px;
}
.pro-page-cont{
    padding: 100px 0;
}
.pro-page-cont h1{
    font-size: 48px;line-height: 1.17;
    text-align: left;
    color: #3bb44a;
    margin: 0;
}
.pro-page-cont p{
    font-size: 18px;
    font-weight: 500;
    line-height: 2;
    text-align: left;
    color: #75757e;
    margin: 14px auto;
    padding-right: 113px;
}



/* About Page css */
.about-section-one{
    padding: 50px 1px;
}
.about-one-con{
    padding-top: 8px;
}
.about-one-con h1{
    font-weight: normal;
    text-transform: none;
    color: #56565E;
    font-size: 37px;
    padding-bottom: 10px;
}
.about-one-con p{
    font-size: 18px;
    font-weight: 500;
    line-height: 2;
    text-align: left;
    color: #75757e;
    margin-bottom: 0;
    padding: 5px;
}
.about-one-img{
}
.about-one-img img{
    width: calc(100% - 140px);
    max-width: 470px;
    box-shadow: 0 8px 20px 0 rgba(0, 0, 0, 0.2);
    display: block;
    margin-left: auto;
    margin-right: auto;
}


.about-section-two{
    padding: 30px 0 40px;
}
.about-two-img{
    text-align: center;
    padding: 10px;
}
.about-two-img img{
    max-width: 100%;
    opacity: 1;
    height: 450px
}
.about-two-con h1{
    margin: 72px auto 24px;
    font-size: 36px;
    letter-spacing: -0.6px;
    font-weight: normal;
    text-transform: none;
    color: #56565E;
}
.about-two-con p{
    margin: 24px auto 24px;
    font-size: 18px;
    font-weight: 500;
    line-height: 2;
    text-align: left;
    color: #75757e;
}
.about-two-con a{
    color: #40B252;
    text-transform: uppercase;
}

.about-three{
    background-color: #52535e;
}
.three-contend{
    padding: 72px 217px 108px;
    text-align: center;
    color: #fff;
}
.three-contend h5{
    font-size: 25px;
}
.three-contend h4{
    font-size: 36px;
}


/*Contact Page CSS*/
.contact-section{padding: 40px 0;}
.contact-banner{
    background: url(../images/zipify-contact-banner.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}

.contact-img{}
.contact-img img{}

.contact-contend{
    margin-top: 80px;
    margin-left: 45px;
}
.contact-contend img{
    width: 200px;
}
.contact-contend h6{
    padding-top: 30px;
    font-size: 20px;
    padding-right: 140px;
}
.contact-contend p{
    padding-top: 30px;
    font-size: 20px;
    padding-right: 170px;
}
.contact-contend h6 a{
    color: #40B252;
}

/*Bloge Page css*/
.bloge-section{
    padding-top:30px; 
}
.bloge-banner{
    background: url(../images/bloge.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    height: 326px;
}
/*Features Bloge Page css*/
.features-bloge{
    background: #D9D9D9;
    height: 40px;
}
.features-btn{}
.features-btn ul{}
.features-btn ul li{}
.features-btn ul li a{}
.features-btn ul li a:hover{}

/*Card Bloge Page css*/
.card-section{
    padding-top: 30px;
    padding-bottom: 40px; 
}
.bloge-card{}



/*Footer Section CSS*/
footer{}
.footer-section{
    background: #F2F1F1;
    padding: 50px 0 20px;
}
.footer-contend h4{
    font-size: 24px;
    padding-bottom: 10px;
}
.footer-contend ul{
    padding-left: 0;
}
.footer-contend ul li{
    list-style: none;
    padding-top: 13px;
    font-size: 19px;
    color: #8C8C90;
}
.footer-contend ul li a{   
    color: #79a8ec;
}

.footer-last{}
.border{
    border: 1px solid #dee2e6!important;
    display: block;
    text-align: center;
    margin-top: 19px;
}
.last-con{
    text-align: center;
    padding-top: 20px;
}
.last-con p{
    font-size: 15px;
    letter-spacing: 1px;
    margin-bottom: 10px;
    color: #00000080;
}